.navbar{
    display: flex;
    justify-content: space-between;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

}
.text{
    padding-left: 20px;
}