body{
    margin: 0px;
    padding: 0px;
}
.item{
    width: 220px;
    height: 220px;
    background-color: transparent;
    border: 3px solid white;
    border-radius: 10px;
    margin: 10px;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}
.container{
    background-image: url(./full-shot-students-studying-indoors.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
}
.overlay{
    background-color: rgba(10,25,50,0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
button{
    display: block;
    margin: 20px auto;
    background-color: red;
    color: aliceblue;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    border: 1px solid red;
    letter-spacing: 1px;
    font-size: 10px;
}
i{
    background-color: red;
    font-size: 20px;
    padding: 10px 12px;
    text-align: center;
    border-radius: 50%;
    border: 2px solid red;
    margin: 30px 0px 20px 90px;
    color: aliceblue;
}