.bg{
    background-color: aquamarine;
    width: 100%;
    height: 710px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.card{
    background-color: white;
    border: 1px solid white;
    width: 1100px;
    height: 480px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: start;
    box-shadow: 0px 0px 5px black;
}
.left{
    width: 200px;
    height: 300px;
}
hr{
    width: 1px;
    height: 270px;
    background-color: lightgray;
    margin-left: 10px;
    margin-right: 50px;
}
button{
    background-color: #e93f3f;
    color: white;
    font-size: 16px;
    border: 2px solid red;
    border-radius: 5px;
    width: 110px;
    height: 35px;
}
